APP_ENV=development
PORT=8080
DATABASE_URL=postgres://hivemind:hivemind@localhost:5432/hivemind?sslmode=disable
JWT_PRIVATE_KEY_PATH=./certs/private.pem
JWT_PUBLIC_KEY_PATH=./certs/public.pem
DOCKER_HOST=unix:///var/run/docker.sock
AES_KEY=
